body{
    font-family: 'Acme', sans-serif;

    font-family: 'Poppins', sans-serif;
   margin: 0;
}
.coverr{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.8)), url(images/donation2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    text-align: center;
    color: aliceblue;
    padding-top: 7%;
    font-size: 50px;
}
.heading p{
    font-size: 18px;
    padding-top: 0px;
}
/*.heading h1{
    padding-top: 15%;
    font-size: 70px;
}*/
.heading button{
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 52, 52);
    border-radius: 3px;
    border-width: 0;
}
#donate-today{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.donate-today{
    padding-top: 150px;
    font-size: 40px;
    text-align: center;
}
.para{
    text-align: center;
    padding-top: 0px;
}
.boxs{
    display: flex;
}
.amount-one{
    font-size: 30px;
    color: gray;
    background-color: rgba(240, 240, 240, 0.551);
    padding: 40px 35px 40px 35px;
    margin-left: 320px;
    border-radius: 5px;
}
.amount-two{
    font-size: 30px;
    color: gray;
    background-color: rgba(240, 240, 240, 0.551);
    padding: 40px 30px 40px 30px;
    margin-left: 45px;
    border-radius: 5px;
}
.amount-three{
    font-size: 30px;
    color: gray;
    background-color: rgba(240, 240, 240, 0.551);
    padding: 40px 30px 40px 30px;
    margin-left: 45px;
    border-radius: 5px;
}
.amount-four{
    font-size: 30px;
    color: gray;
    background-color: rgba(254, 142, 142, 0.195);
    padding: 40px 28px 40px 28px;
    margin-left: 45px;
    border: 3px solid rgba(255, 0, 0, 0.485);
    border-radius: 5px;
}
.amount-five{
    font-size: 30px;
    color: gray;
    background-color: rgba(240, 240, 240, 0.551);
    padding: 40px 25px 40px 25px;
    margin-left: 45px;
    border-radius: 5px;
}
.input-amount input{
    border: 0;
    border-bottom: 2px solid rgb(205, 205, 205);
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 10px;
}
.input-amount{
    padding-top: 30px;
    padding-left: 440px;
    padding-bottom: 30px;
}
::placeholder{
    color: rgba(62, 62, 62, 0.603);
}
#donate-now{
    margin-left: 699px;
    text-decoration: none;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.945);
    background-color: rgba(255, 33, 33, 0.814);
    border-radius: 5px;
    border: 0;
    padding: 10px 13px 10px 13px ;
}
#donate-plan{
    height: 100vh;
    width: 100%;
}
.donate-plan h1{
    padding-top: 90px;
    padding-bottom: 0;
    font-size: 40px;
    text-align: center;
}
.donate-plan p{
    padding-top: 0;
    text-align: center;
}
.plans{
    display: flex;
    margin-top: 50px;
}
.plan-food{
    background-color:rgba(153, 181, 178, 0.193);
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 40px;
    margin-left: 200px;
    margin-right: 45px;
}
.plan-shelter{
    background-color:rgba(250, 193, 193, 0.223);
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 40px;
    margin-right: 45px;
}
.plan-education{
    background-color:rgba(250, 242, 193, 0.537);
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 40px;
    margin-right: 200px;
}
